@{
    ViewBag.Title = "Menu";
}
<h1>Menu</h1>
<div class="menuWrapper">
    <div class="menuItem close">
        <h2 class="menuItemHeading">Appetizer</h2>
        <div class="menuItemContent">
            <div id="0"></div>
        </div>
    </div>

    <div class="menuItem close">
        <h2 class="menuItemHeading">Salads</h2>
        <div class="menuItemContent">
            <div id="1"></div>
        </div>
    </div>

    <div class="menuItem close">
        <h2 class="menuItemHeading">Tapas</h2>
        <div class="menuItemContent">
            <div id="2"></div>
        </div>
    </div>

    <div class="menuItem close">
        <h2 class="menuItemHeading">Entrees</h2>
        <div class="menuItemContent">
            <div id="3"></div>
        </div>
    </div>

    <div class="menuItem close">
        <h2 class="menuItemHeading">Beverages</h2>
        <div class="menuItemContent">
            <div id="4"></div>
        </div>
    </div>
</div>
<script src="~/menu.js"></script>